.poster-item a,.poster-item img {
    display: block;
}
.poster-main {
    position:relative;
    width:800px;
    height:270px;
    margin: 0 auto;
    margin-top: 60px;
}
.poster-main>.poster-list {
    width:800px;
    /*height:270px;*/
    margin:0;
    padding:0;
    list-style: none;
}
.poster-main>.poster-list>.poster-item {
    position: absolute;
    top:0;
    left:0;

}
.poster-item a,.poster-item img {
    width:100%;
    height:100%;
}
.poster-btn {
    position: absolute;
    top:0;
    height:100%;
    cursor:pointer;
}
.poster-prev-btn {
    left:0;
    background:url("../img/btn_l.png") no-repeat center center;
}
.poster-next-btn {
    right:0;
    background:url("../img/btn_r.png") no-repeat center center;
}