

@font-face {font-family: "iconfont";
  src: url('../font/iconfont.eot?t=1466478417'); /* IE9*/
  src: url('../font/iconfont.eot?t=1466478417#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../font/iconfont.woff?t=1466478417') format('woff'), /* chrome, firefox */
  url('../font/iconfont.ttf?t=1466478417') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('../font/iconfont.svg?t=1466478417#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.icon-0009huidingbu:before { content: "\e61e"; }
.icon-html-copy:before { content: "\e601"; }
.icon-css3:before { content: "\e674"; }
.icon-js:before { content: "\e603"; }
.icon-jquery:before { content: "\e605"; }
.icon-QQ:before { content: "\e607"; }
.icon-phone:before { content: "\34ab"; }
.icon-github:before { content: "\e735"; }
.icon-list:before { content: "\e60c"; }
